.wrapper {
  margin-top: 40px;
  padding: 8px 16px;
}

.controller {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 32px;
}

.controller-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  padding: 8px 16px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;

  transition: all 250ms ease-in-out;
}

.controller-input:hover {
  border-color: black;
}

.controller-input:disabled {
  color: #808080;
  border-color: #808080;
  background: #fafafa;
}

.controller-input:focus,
.controller-input:active {
  border-color: #4e75ff;
}

.controller-button {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #4e75ff;
  outline: none;

  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 500;
  font-size: 16px;
  color: #fff;

  background: #4e75ff;

  transition: all 250ms ease-in-out;
}

.controller-button:hover,
.controller-button:focus {
  background: #6c8cff;
}

.controller-button:disabled {
  background: #cfcfcf;
  border-color: #cfcfcf;
  color: #989898;
}

.gallery {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 24px 0;
  width: 1128px;
}

.gallery-item {
  flex: 0 0 calc((100% - 48px) / 3);
  height: 200px;
  position: relative;
  border: 1px solid #808080;

  transition: transform 300ms ease-in-out;
}

.gallery-item:hover,
.gallery-item:focus {
  transform: scale(1.1);
}

.gallery-link {
  display: block;
  height: 100%;
}

.gallery-image {
  width: 100%;
  height: 100%;
}

.item-details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-around;
  padding: 8px 0;

  background-color: white;
}

.item-detail {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 12px;
  color: #2e2f42;
  letter-spacing: 0.04em;
}

.item-detail > p {
  font-weight: 600;
  line-height: 1.33;
}
